---
#
# Copyright (c) 2015, PLUMgrid Inc, http://plumgrid.com
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Remove sources file if exists
- name: Removing pre-exiting sources.list
  file: path=/etc/apt/sources.list.d/plumgrid.list state=absent

# Create a PLUMgrid sources.list
- name: Create plumgrid sources.list
  lineinfile:
    dest: /etc/apt/sources.list.d/plumgrid.list
    line: "deb {{ plumgrid_repo }}/plumgrid plumgrid {{ plumgrid_component }}"
    state: present
    create: yes

# Create a PLUMgrid sources.list
- name: Add plumgrid-images to repo
  lineinfile:
    dest: /etc/apt/sources.list.d/plumgrid.list
    line: "deb {{ plumgrid_repo }}/plumgrid-images plumgrid {{ plumgrid_component }}"
    state: present

# Copy GPG-key file to target nodes
- name: Copy Plumgrid GPG-key file
  template:
    src: "{{ gpg_keypath }}"
    dest: /tmp/GPG-KEY

# Create GPG-key
- name: Add Plumgrid GPG-key
  apt_key:
    file: /tmp/GPG-KEY
    state: present

# Update repositories
- name: Running apt-update
  apt:
    update_cache: yes

# Install package iovisor-dkms
- name: Install iovisor
  apt:
    name: iovisor-dkms
    state: latest
    force: yes

# Install package plumgrid-lxc
- name: Install plumgrid-lxc
  apt:
    name: plumgrid-lxc
    state: latest
    force: yes

# Set PLUMgrid config
- name: Setup plumgrid Conf
  template:
    src: plumgrid.conf
    dest: /var/lib/libvirt/filesystems/plumgrid-data/conf/pg/plumgrid.conf

- name: Override Management iterface for node
  replace:
    dest: "/var/lib/libvirt/filesystems/plumgrid-data/conf/pg/plumgrid.conf"
    replace: "mgmt_dev={{ item.mgmt_ifc }}"
    regexp: "mgmt_dev={{ pg_management }}"
  with_items: mgmt_overide
  when: inventory_hostname == "{{item.hostname}}"

# Update hostname
- name: Update Plumgrid hostname
  replace:
    dest: "/var/lib/libvirt/filesystems/plumgrid-data/conf/etc/hostname"
    replace: "pg-{{ inventory_hostname }}"
    regexp: "plumgrid"

# Update hosts
- name: Update /etc/hosts
  replace:
    dest: "/var/lib/libvirt/filesystems/plumgrid-data/conf/etc/hosts"
    replace: "pg-{{ inventory_hostname }}"
    regexp: "plumgrid"

# Ensuring idempotency for ifcs file changes

- name: Removing any pre-existing pg ifcs.conf
  file: path=/var/lib/libvirt/filesystems/plumgrid-data/conf/pg/ifcs.conf state=absent
  when: inventory_hostname not in groups['gateway_hosts']

- name: Create ifcs file
  lineinfile:
    dest: "/var/lib/libvirt/filesystems/plumgrid-data/conf/pg/ifcs.conf"
    line: "{{ fabric_interface }} = fabric_core host"
    create: yes
  when: inventory_hostname not in groups['gateway_hosts']

- name: Override Fabric iterface for node
  replace:
    dest: "/var/lib/libvirt/filesystems/plumgrid-data/conf/pg/ifcs.conf"
    replace: "{{ item.fabric_ifc }} = fabric_core host"
    regexp: "{{ fabric_interface }} = fabric_core host"
  with_items: fabric_ifc_override
  when: inventory_hostname not in groups['gateway_hosts'] and inventory_hostname == "{{item.hostname}}"

- name: Fail when empty or non-existent LCM key
  fail: >
    msg="Failing - LCM key file doesn't exist or is empty"
  when: lcm_ssh_key == ""

- name: Set the LCM SSH key in place
  lineinfile:
    dest: "/var/lib/libvirt/filesystems/plumgrid-data/root/.ssh/authorized_keys"
    line: "{{ lcm_ssh_key }}"
    create: yes

# Removing network-manager
- name: Removing network-manager
  apt:
    name: network-manager
    state: absent
    purge: yes
    force: yes
